<a href="https://colab.research.google.com/github/21PA1A6132/dwm-lab/blob/main/dwm_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#importing packages
import pandas as pd
import numpy as np

# **1)CREATING A DATAFRAME MANUALLY**

In [2]:
df=pd.DataFrame({"Roll No":["cse101",'cse102','cse103'],"Name":["Ashok Naidu","Charan Teja","Nehra Sai"]})
df

  Roll No         Name
0  cse101  Ashok Naidu
1  cse102  Charan Teja
2  cse103    Nehra Sai

# **2)IMPORT DATA INTO A DATAFRAME**

In [5]:
df=pd.read_csv("/content/drive/MyDrive/students_placement_data (3).csv")
df.head()

,Roll No,Gender,Section,SSC Percentage,inter_Diploma_percentage,B.Tech_percentage,Backlogs,registered_for_ Placement_Training,placement status
0,1,M,A,87.3,65.3,40.00,18,NO,Not placed
1,2,F,A,89.0,92.4,71.45,0,yes,Placed
2,3,F,A,67.0,68.0,45.26,13,yes,Not placed
3,4,M,A,71.0,70.4,36.47,17,yes,Not placed
4,5,M,A,NaN,65.5,42.52,17,yes,Not placed

In [9]:
#checking for NA's
df.isna().any()

Roll No                               False
Gender                                False
Section                               False
SSC Percentage                         True
inter_Diploma_percentage              False
B.Tech_percentage                     False
Backlogs                              False
registered_for_ Placement_Training     True
placement status                      False
dtype: bool

In [10]:
#structure of data
df.describe()

,Roll No,SSC Percentage,inter_Diploma_percentage,B.Tech_percentage,Backlogs
count,117.000000,116.000000,117.000000,117.000000,117.000000
mean,59.000000,80.474569,80.772906,62.943419,4.111111
std,33.919021,8.836079,11.267248,12.064306,6.335148
min,1.000000,47.800000,52.200000,31.200000,0.000000
25%,30.000000,76.622500,73.400000,54.180000,0.000000
50%,59.000000,82.745000,83.600000,64.360000,0.000000
75%,88.000000,87.025000,90.000000,72.570000,7.000000
max,117.000000,93.660000,96.900000,88.100000,25.000000

In [12]:
#no.of rows and columns
df.shape

(117, 9)

# **3)Adding,Deleting,Modifying the rows/columns in a dataframe**

In [14]:
#reading hostelers_daY_scholars csv file
host_day=pd.read_csv("/content/drive/MyDrive/DWM/hostlers_day_scholars (1).csv")
host_day.head()
host_day.shape

(117, 1)